<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="//cdn.tailwindcss.com/?plugins=forms,typography,aspect-ratio,line-clamp"></script>
		<script>
			tailwind.config = {
				theme: {
					extend: {
						colors: {
							primary: '#1E3A8A', //blue-900
							primary_light: '#FAFAFA', //neutral-50
							neutral_light: '#737373', // neutral-400
							neutral_dark: '#262626', // neutral-800
							secondary: '#6B21A8', // purple-800
							primary_medium: '#60A5FA', //blue-400
							//white: '#ffffff',
							lightGradOne: '#DBEAFE', //blue-100
							lightGradTwo: '#F3E8FF', //purple-100
						},
					},
					fontFamily: {
							sans: ['Gentium Plus', 'sans'],
							serif: ['Libre Franklin','serif']
					}
				}
			}
		</script>	
    <script src="/static/bundle.js" defer></script>
		<link href="/static/bundle.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.73/dist/themes/light.css" />
		<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.73/dist/shoelace.js"></script>
		<script type="module" src="https://unpkg.com/@fluentui/web-components"></script>
		<title>LearnAwesome</title>

		<!-- fonts  -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500&display=swap" rel="stylesheet">

		<!-- fonts Gentium Plus -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"> 
	</head>
	<body class="max-w-none mx-auto h-full bg-gradient-to-r from-lightGradOne to-lightGradTwo text-nutral_dark dark:bg-gradient-to-r dark:from-neutral_dark dark:to-neutral_dark dark:text-primary_light font-serif">
		<div class="h-full" id="app"></div>
	</body>
</html>
